.div1{
    background-color: rgb(138, 8, 8);
    height:fit-content;
    width:fit-content;
}
.text1{
    text-align: center;
    color: white;
    font-size: 18px;
}
.img1{
    width: 75%;
    margin-top: 25px;
    position: absolute;
    z-index: 2;
    margin-left: 135px;
}
.img2{
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    z-index: 1;
}
li{
    color: white;
    text-align: left;
    width: 40%;
    margin: auto;
    padding: 15px;
    font-size: larger;
}
h3, h1, p{
    text-align: center;
    color: white;
}
h2{
    color: white;
    text-align: left;
    width: 50%;
    margin: auto;
    font-size: 20px;
}
h4{
    color: white;
    font-size:x-large;
    text-align:center;
}